<!DOCTYPE html>
{%extends 'base.html'%}
{%block content%}
    <!-- content starts -->
        <div class="well">
           <h3>
               <i class="icon-th"></i>
               当前服务器分组
           </h3>
        </div>
<div class="row-fluid sortable ui-sortable">	
	<div class="box span6">
		<div data-original-title="" class="box-header well">
			<h2>Condensed Table</h2>
			<div class="box-icon">
				<a class="btn btn-setting btn-round" href="#"><i class="icon-cog"></i></a>
				<a class="btn btn-minimize btn-round" href="#"><i class="icon-chevron-up"></i></a>
				<a class="btn btn-close btn-round" href="#"><i class="icon-remove"></i></a>
			</div>
		</div>
		<div class="box-content">
			<table class="table table-condensed">
				  <thead>
					  <tr>
						  <th>Username</th>
						  <th>Date registered</th>
						  <th>Role</th>
						  <th>Status</th>                                          
					  </tr>
				  </thead>   
				  <tbody>
					<tr>
						<td>Muhammad Usman</td>
						<td class="center">2012/01/01</td>
						<td class="center">Member</td>
						<td class="center">
							<span class="label label-success">Active</span>
						</td>                                       
					</tr>
					<tr>
						<td>White Horse</td>
						<td class="center">2012/02/01</td>
						<td class="center">Staff</td>
						<td class="center">
							<span class="label label-important">Banned</span>
						</td>                                       
					</tr>
					<tr>
						<td>Sheikh Heera</td>
						<td class="center">2012/02/01</td>
						<td class="center">Admin</td>
						<td class="center">
							<span class="label">Inactive</span>
						</td>                                        
					</tr>
					<tr>
						<td>Saruar</td>
						<td class="center">2012/03/01</td>
						<td class="center">Member</td>
						<td class="center">
							<span class="label label-warning">Pending</span>
						</td>                                       
					</tr>
					<tr>
						<td>Sana Amrin</td>
						<td class="center">2012/01/21</td>
						<td class="center">Staff</td>
						<td class="center">
							<span class="label label-success">Active</span>
						</td>                                        
					</tr>                                   
				  </tbody>
			 </table>  
			 <div class="pagination pagination-centered">
			  <ul>
				<li><a href="#">Prev</a></li>
				<li class="active">
				  <a href="#">1</a>
				</li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">Next</a></li>
			  </ul>
			</div>     
		</div>
	</div><!--/span-->

	<div class="box span6">
		<div data-original-title="" class="box-header well">
			<h2>Condensed Table</h2>
			<div class="box-icon">
				<a class="btn btn-setting btn-round" href="#"><i class="icon-cog"></i></a>
				<a class="btn btn-minimize btn-round" href="#"><i class="icon-chevron-up"></i></a>
				<a class="btn btn-close btn-round" href="#"><i class="icon-remove"></i></a>
			</div>
		</div>
		<div class="box-content">
			<table class="table table-condensed">
				  <thead>
					  <tr>
						  <th>Username</th>
						  <th>Date registered</th>
						  <th>Role</th>
						  <th>Status</th>                                          
					  </tr>
				  </thead>   
				  <tbody>
					<tr>
						<td>Muhammad Usman</td>
						<td class="center">2012/01/01</td>
						<td class="center">Member</td>
						<td class="center">
							<span class="label label-success">Active</span>
						</td>                                       
					</tr>
					<tr>
						<td>White Horse</td>
						<td class="center">2012/02/01</td>
						<td class="center">Staff</td>
						<td class="center">
							<span class="label label-important">Banned</span>
						</td>                                       
					</tr>
					<tr>
						<td>Sheikh Heera</td>
						<td class="center">2012/02/01</td>
						<td class="center">Admin</td>
						<td class="center">
							<span class="label">Inactive</span>
						</td>                                        
					</tr>
					<tr>
						<td>Saruar</td>
						<td class="center">2012/03/01</td>
						<td class="center">Member</td>
						<td class="center">
							<span class="label label-warning">Pending</span>
						</td>                                       
					</tr>
					<tr>
						<td>Sana Amrin</td>
						<td class="center">2012/01/21</td>
						<td class="center">Staff</td>
						<td class="center">
							<span class="label label-success">Active</span>
						</td>                                        
					</tr>                                   
				  </tbody>
			 </table>  
			 <div class="pagination pagination-centered">
			  <ul>
				<li><a href="#">Prev</a></li>
				<li class="active">
                                 <a href="#">1</a>
                                 </li>
                                 <li><a href="#">2</a></li>
                                 <li><a href="#">3</a></li>
                                 <li><a href="#">4</a></li>
                                 <li><a href="#">Next</a></li>
                           </ul>
                         </div>
                 </div>
         </div><!--/span-->
</div>
{%endblock%}
